{% extends 'base.html.twig' %}

{% block body %}

    <div class="confirm-container">
        <h2 class="confirm-title">
            Secret Santa is on its way
        </h2>
    
        <p class="confirm-text"> 
            You'll receive an email to confirm you're not a robot. Please follow the link to proceed your random draw 
        </p>
    </div>

{% endblock %}