{% extends 'base.html.twig' %}

{% block body %}

    <div class="success-container">
        <h2 class="success-title">
            Random draw done !
        </h2>
    
        <p class="success-text"> 
            Each participants will receive an email with the person he draw at random.
        </p>
    </div>

{% endblock %}