{% extends 'base.html.twig' %}

{% block body %}

    <div class="success-container">
        <h2 class="success-title">
            Secret Santa is on its way
        </h2>
    
        <p class="success-text"> 
            You'll receive an email to confirm you're not a robot. Please follow the link to proceed your random draw 
        </p>
    </div>

{% endblock %}